@use 'sass:color';
@use './breakpoints.scss' as breakpoints;
@use './colors.scss' as colors;
@use './type.scss' as type;

$container: 1040px;

:root {
  --transition: background-color .3s ease, color .3s ease, border-color .3s ease;

  --color-gray-50: #f6f6f9;
  --color-gray-100: #e6e7ef;
  --color-gray-200: #c7c9db;
  --color-gray-300: #a8abc7;
	--color-gray-400: #898eb4;
  --color-gray-500: #6a71a0;
  --color-gray-600: #545b83;
  --color-gray-800: #2c3145;
  --color-gray-900: #181b26;
  --color-gray-950: #0e1016;

  --background-color: var(--color-gray-50);
  --text-selection: var(--color-gray-100);

  --color-text: var(--color-gray-800);
  --color-links: #319b8e;
  --color-links-hover: #257c74;
  --color-header-links: var(--color-gray-900);
  --color-hr: var(--color-gray-100);
  --color-nav-links: var(--color-gray-900);
  --color-code: var(--color-gray-100);
}

html[data-theme='dark'] {
  --background-color: var(--color-gray-950);
  --text-selection: var(--color-gray-800);

  --color-text: var(--color-gray-200);
  // --color-links: #ecb194;
  --color-header-links: #fff;
  --color-hr: var(--color-gray-900);
  --color-nav-links: var(--color-gray-200);
  --color-code: var(--color-gray-800);
}

* {
  box-sizing: border-box;
  // transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

body {
  margin: 0 auto;
  padding: 0 1em;
  width: 1040px;
  max-width: 100%;
  background-color: var(--background-color);
  transition: var(--transition);

  @media (max-width: breakpoints.$tablet) {
    font-size: 16px;
  }
}

::selection {
  background: var(--text-selection);
}

a,
a:visited {
  font-weight: 500;
  color: var(--color-links);
  transition: var(--transition);
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  text-decoration-color: #77d1c2;

  &:hover {
    color: var(--color-links-hover);
    text-decoration-thickness: 4px;
  }
}

a.heading-link {
  color: var(--color-header-links);
  text-decoration: none;
}

hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 1px solid var(--color-hr);
  transition: border-color .3s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2em 0;
  padding: 2em 0;

  a {
    transition: 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  #site_title {
    margin: 0;
  }

  #site_title a {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    color: var(--color-header-links);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .links a {
    margin-left: 1em;
    // color: var(--color-nav-links);
  }
}

.content {

  ol,
  ul {
    padding-left: 2em;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;

    li {
      position: relative;
      margin-bottom: 0.75em;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -1em;
        top: 0.63em;
        width: 8px;
        height: 8px;
        background: linear-gradient(25deg, colors.color(purple, 500), colors.color(orange, 500));
        border-radius: 99px;
      }
    }
  }

  blockquote {
    border-left: 2px solid colors.color(orange, 500);
    margin-inline-start: 2rem;
    padding-left: 1rem;
  }

  & > :not(pre) code {
    background-color: var(--color-code);
    padding: 4px 8px;
    transition: background-color .3s ease;
  }

  pre {
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: type.$codeFont;
  }
}

// .page_title {
// 	margin: 1.5em 0;
// 	@media (max-width: breakpoints.$tablet) {
// 		margin: 0.5em 0;
// 	}
// }

.page_title {
  margin: 1.5em 0 0.5rem 0;

  @media (max-width: breakpoints.$tablet) {
    margin-top: 0.5em;
  }
}

.page_subtitle {
  margin-bottom: 1.5em;

  @media (max-width: breakpoints.$tablet) {
    margin-bottom: 0.5em;
  }
}

.page_title, .page_subtitle {
  transition: color .3s ease;
}

.logs {
  list-style: none;
  padding: 0;
}

.log {
  display: flex;
  width: 100%;

  @media (max-width: breakpoints.$tablet) {
    flex-flow: column;
  }

  &:last-child .content,
  &.single .content {
    border-bottom: 0;
  }
}

.version_wrapper {
  flex-basis: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  // margin: 4.5em 0 0 0;
  margin-top: 88px;

  @media (max-width: $container) {
    // TODO: figure out if this should be used - it causes issues with longer tags on smaller screens
    // flex-basis: 140px;
  }

  @media (max-width: breakpoints.$tablet) {
    flex-basis: 0;
    margin-top: 1.5em;
  }

  .version_info {
    position: sticky;
    top: 1em;
    // padding-bottom: 3rem;

    @media (max-width: breakpoints.$tablet) {
      position: relative;
      top: 0;
      // padding-bottom: 2.5rem;
    }
  }

  a {
    float: left;
    color: colors.$white;
    text-decoration: none;
    transition: 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.version_number {
  display: inline-block;
  font-family: type.$codeFont;
  line-height: 1;
  margin-bottom: 4px;
  padding: 4px 8px;
  color: colors.$white;

  background-color: #aae5da;
  color: var(--color-gray-800);
  font-weight: 700;
  border-radius: 4px;
}

.date {
  clear: both;
  // color: colors.color(gray, 800);
  color: var(--color-text);
  font-family: type.$codeFont;
  font-size: type.$fontSizeSmall;

  @media (max-width: breakpoints.$tablet) {
    display: inline !important;
    margin-left: 1em;
  }

  @media (prefers-color-scheme: dark) {
    // color: colors.color(gray, 200);
  }
}

.content {
  margin: 0;
  padding: 4em 0;
  border-bottom: 1px solid colors.color(gray, 100);

  @media (max-width: breakpoints.$tablet) {
    margin: 1em 0;
    padding: 0 0 2em 0;
  }

  @media (prefers-color-scheme: dark) {
    border-color: colors.color(gray, 900);
  }

  *:first-child {
    margin-top: 0;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 14px var(--color-code);
  }

  table {
    width: 100%;
  }
}

aside {
  order: 2;
  padding: 0 5rem;
  font-size: 15px;
  font-style: italic;
  text-wrap: wrap;

  @media (max-width: breakpoints.$screen-950) {
    padding: 0 3rem;
  }
}

footer {
  display: flex;
  text-wrap: nowrap;
  padding: 1rem 0 2rem 0;
  color: colors.color(gray, 500);
  justify-content: space-between;
  border-top: 1px solid colors.color(gray, 100);

  p {
    order: 1;
  }

  @media (prefers-color-scheme: dark) {
    border-color: colors.color(gray, 900);
  }

  .footer_links {
    order: 3;

    a {
      margin-left: 0.8em;
    }
  }
}

@media (max-width: breakpoints.$tablet) {
  aside {
    order: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  footer {
    padding: 1em 0;
    flex-wrap: wrap;

    p {
      order: 2;
    }
  }

  .content {
    blockquote {
      margin-inline-start: 0;
    }
  }
}
