@use './colors.scss' as colors;
@use './breakpoints.scss' as breakpoints;

$baseFont: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$codeFont: 'Source Code Pro', monospace;
$fontSizeSmall: 15px;

body {
	font-family: $baseFont;
	font-size: 18px;
	line-height: 1.65;
	font-weight: 400;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	margin: 1em 0 0.5em 0;
	color: var(--color-header-links);
	font-weight: 700;

  @media (max-width: breakpoints.$tablet) {
    overflow-wrap: anywhere;
  }
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

p {
	margin: 0 0 1em 0;
}

code {
	font-family: $codeFont;
}

b,
strong {
	color: var(--color-header-links);
}
