---
import { getCollection, render } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/IndexLayout.astro";
import LogEntry from "../components/LogEntry.astro";

const logs = (await getCollection("logs"))
  .filter((l) => !l.id.startsWith("_"))
  .sort((a, b) => a.id.localeCompare(b.id))
  .reverse();
// logs.sort((a, b) => +b.data.date - +a.data.date);
---

<Layout>
  <main>
    <h1 class="page_title">prev·log</h1>
    <p class="page_subtitle">
      my log of headbangs, when <i>Next</i> resulted in <i>prev</i> <sup><a href="#about">&dagger;</a></sup>
    </p>
    <hr />
    <ul class="logs" transition:name="log">
      {
        logs.map((log) => (
          <LogEntry {log}>
            {render(log).then(({ Content }) => (
              <Content />
            ))}
          </LogEntry>
        ))
      }
    </ul>
  </main>
</Layout>
