---
import "../styles/global.scss";
---

<footer>
  <p>
    <a href="https://codenomnom.com/">codenomnom</a>
    © 2023
  </p>

  <aside id="about">
    <strong>Note</strong>: this is not a hate list, but one with roadblocks I've
    faced while using Next.js, since the beginning of 2024. There are plenty of
    benefits as well, and I'm still using it on a daily basis.
  </aside>

  <div class="footer_links">
    <!-- <a href="#">Discord</a> -->
    <!-- <a href="#">X</a> -->
    <a href="https://github.com/codenomnom/prev-log">GitHub</a>
  </div>
</footer>
