---
import "../styles/global.scss";
---

<footer>
  <p>
    <a href="https://codenomnom.com/">codenomnom</a>
    © 2023
  </p>
  <div class="footer_links">
    <a href="#">Discord</a>
    <a href="#">X</a>
    <a href="https://github.com/codenomnom/prev-log">GitHub</a>
  </div>
</footer>
