---
import "../styles/global.scss";
import Logo from "./Logo.astro";
import { SiteBase, SiteTitle } from "../consts";
import ThemeToggle from "./theme/ThemeToggle.astro";
---

<header>
	<nav>
		<h2 id="site_title">
			<a href={SiteBase}>
				<Logo />
				{SiteTitle}
			</a>
		</h2>
		<div class="links">
      <ThemeToggle />
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
