---
type Props = {
  href?: string | null;
  class?: string;
};
const href = Astro.props.href;
const className = Astro.props.class;
---

{
  href ? (
    <a href={href} class="" class:list={[className]}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
