---
import MoonIcon from "./MoonIcon.astro";
import SunIcon from "./SunIcon.astro";
---

<button id="themeToggle" aria-label="dark/light theme switcher">
  <SunIcon class="sun" />
  <MoonIcon class="moon" />
</button>

<style>
  #themeToggle {
    border: 0;
    background: none;
    cursor: pointer;

    &:hover {
      .sun,
      .moon {
        color: var(--color-links-hover);
      }
    }
  }
  .sun,
  .moon {
    color: var(--color-nav-links);
    transition: var(--transition);
  }
  .sun {
    display: none;
  }

  html[data-theme="dark"] {
    .sun {
      display: block;
    }
    .moon {
      display: none;
    }
  }
</style>
